# Minimal deps to run the API (server + auth + companies + main routes)
fastapi==0.110.1
uvicorn==0.25.0
python-dotenv==1.2.1
motor==3.3.1
pymongo==4.5.0
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic==2.12.5
pydantic_core==2.41.5
starlette==0.37.2
python-multipart==0.0.21
email-validator==2.3.0
httpx==0.28.1
